/* NAVBAR */
.navbar {
  background-color: #f0f2f5 !important;
  border-bottom: 1px solid #dee2e6;
}

.navbar-brand {
  color: #6366F1 !important;
}

.nav-link {
  color: #212529 !important;
}

.nav-link:hover,
.nav-link.active {
  color: #6366F1 !important;
}



/* BODYYYYYY */
body {
  background-color: #f8f9fa;
  color: #212529;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}




/* FOOTER */
footer {
  background-color: #e9ecef !important;
  color: #6c757d;
  padding: 15px 0;
  font-size: 0.9rem;
  border-top: 1px solid #dee2e6;
  text-align: center;
}

.progress-bar-text {
  font-weight: bold;
  font-size: 14px;
}

.card {
  border-radius: 16px;
  border: none;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.07);
}